@media only screen and (max-height: 500px) {
/*Navigation*/ /*Lanscape*/
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    nav ul li a {
        padding: 11px 40px;
    }

    img.team-photo {
        height: auto;   
    }

    .card {
        height: initial;
    }
}

/*Tablet*/
@media only screen and (min-width: 768px) {
    /*Navigation-Start*/
    nav ul li a {
        margin: 20px 100px;
        padding: 20px 0;
        font-size: 28px;
        border-width: 4px;
    }

    nav ul {
        height: calc(100vh - 110px);
    }
    /* Navigation-End*/

    .container {
        grid-column-gap: 15px;
        width: 96%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "team passie"
        "blogs nieuwsarchief"
        "footer footer"
    }

    .logo {
        width: 110px;
    }

    .hide {
        display: none;
    }

    .passie h2 {
        font-size: 30px;
    }

    .card-subject {
        font-size: 32px;
    }

    .card-paragraph {
        line-height: 26px;
        font-size: 17px;
    }

    .card-link {
        font-size: 14px;
    }

    footer > section  {
        flex-direction: row;
    }

    footer h2.footer-title {
        font-size: 24px;
    }

    footer .contact, footer .socials {
        font-size: 22px;
        width: 50%;
    }

    footer .contact i {
        font-size: 30px;
    }

    footer .contact > p:nth-of-type(1) {
        padding-left: 44px;
    }

    footer .email {
        padding-top: 6px;
    }

    footer .email .vragen {
        padding: 0 12px 25px 12px;
    }
}

/*Laptop*/
@media only screen and (min-width: 1366px) {
    /*Navigation-Start*/

    .header {
        flex-direction: row;
        align-items: center;
    }

    .menu {
        display: none;
    }

    nav {
        max-height: initial;
    }

    nav ul {
        height: initial;
        flex-direction: row;
        justify-content: flex-end;
    }

    nav ul li {
        margin: 0 20px;
    }

    nav ul li a {
        margin: initial;
        padding: 5px 0;
        border: 0;
        font-size: 20px;
    }
    /*Navigation-End*/
    
    .container {
        width: 98%;
        grid-template-columns: 60% 40%;
        grid-template-areas: 
        "header header"
        "team blogs"
        "passie nieuwsarchief"
        "footer footer"
    }
}

/*Desktop*/
@media only screen and (min-width: 1920px) {
    body {
        background-color: yellow;
    }
}