@media only screen and (max-height: 500px) {
    /*Navigation*/ /*Lanscape*/
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    nav ul li a {
        padding: 11px 40px;
    }

    img.team-photo {
        height: auto;   
    }

    .card {
        height: initial;
    }
}
/*Tablet*/
@media only screen and (min-width: 768px) {

    .container {
        grid-column-gap: 15px;
        width: 96%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "team passie"
        "blogs nieuwsarchief"
        "footer footer"
    }
}

/*Laptop*/
@media only screen and (min-width: 1366px) {
    body {
        background-color: blue;
    }
}

/*Desktop*/
@media only screen and (min-width: 1920px) {
    body {
        background-color: yellow;
    }
}